<div class="alert-message warning">
  <p><strong>The page you were looking for doesn't exist.</strong> You may have mistyped the address or the page may have moved.</p>
</div>

<h2 align="center"><%= link_to "Go Back", :back %></h2>