<div class="alert-message error">
  <p><strong>We're sorry, but something went wrong.</strong> We've been notified about this issue and we'll take a look at it shortly.</p>
</div>

<h2 align="center"><%= link_to "Go to dashboard", root_path %></h2>